<div class="container ">  
    <h1 class="text-center">Show post</h1> 
    <div class="card mb-3 mx-auto" style="width: 100%;">
        <div class="card-body">
            <h5 class="card-title text-primary"><%= @blog.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted"></h6> <%# Change this later to user that posted %>
            <p class="card-text"><%= @blog.body %></p> <%# Truncates the body of the post to specified characters%>
            <p class="text-right mb-n1">
                <%= link_to "Edit Post", blog_edit_path(@blog) %>
                <%= "|"%>
                <%= link_to "Delete Post", blog_path(@blog), method: :delete, data: { confirm: "Are you sure?" } %>
            </p>
        </div>
    </div>
    <%= form_with(model: [@blog, @blog.comments.build], local: true) do |form| %>
        <div class="form-group field">
            <%= form.label :body, "Comment" %>
            <%= form.text_area :body, class: "form-control" %>    
        </div>
        <div class="form-group action">
            <%= form.submit "Submit", class: "btn btn-primary form-control" %>
        </div>
    <% end %>
    <% @comments.each do |comment|%>
        <% if comment.id %>
            <p><%= comment.user.email %></p>
            <p>
                <%= comment.body %>
                <% if current_user.id == comment.user_id %>
                    <%= link_to "Delete Comment", [@blog, comment], method: :delete, data: { confirm: "Are you sure?" } %>
                <% end %>
            </p>
        <% end %>
    <% end %>     
</div>


